<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_side">

  <!-- Define properties -->
  <xacro:property name="mesh_scale" value="0.001 0.001 0.001" /> <!-- Adjust if mm->m conversion needed -->

  <material name="red">
       <color rgba="1 0 0 1"/>
  </material>
   

  <!-- BASE LINK (connects to robot flange) -->
  <link name="robot_side_link">
    <visual>
      <geometry>
        <!-- <mesh filename="package://nakit_visualisation/meshes/robot_side.dae"  -->
              <!-- scale="${mesh_scale}"/> -->
        <mesh filename="package://nakit_visualisation/meshes/robot_side.dae"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
</robot>