<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_hand">
  <!-- Include required macros -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_hand.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro"/>
  
  <!-- Define base link -->
  <link name="panda_link8"/>
  
  <!-- Instantiate hand -->
  <xacro:franka_hand connected_to="panda_link8" arm_id="panda"/>
</robot>